<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perpustakaan</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th,
      td {
        border: 1px solid #55a630;
        text-align: left;
        padding: 8px;
      }
      th {
        background-color: #fde68c;
      }
    </style>
  </head>
  <body>
    <h1>PERPUSTAKAAN</h1>
    <h2>Data Buku</h2>
    <table>
      <thead>
        <tr>
          <th>Judul Buku</th>
          <th>Pengarang</th>
          <th>Penerbit</th>
          <th>Tahun Terbit</th>
          <th>Rak Buku</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dasar Dasar Penguasaan Pemrograman Web</td>
          <td>Agusriandi</td>
          <td>Gramedia</td>
          <td>2010</td>
          <th>C001</th>
        </tr>
        <tr>
          <td>Matematika Diskrit</td>
          <td>Drs.Jong Jek Siang, M.Sc.</td>
          <td>Pustaka buku</td>
          <td>2017</td>
          <th>B202</th>
        </tr>
        <tr>
          <td>Mahir Bahasa Inggris</td>
          <td>Chandra Dewi sadya</td>
          <td>Toko Buku MC</td>
          <td>2011</td>
          <th>F003</th>
        </tr>
      </tbody>
    </table>

    <h2>Daftar Anggota</h2>
    <table>
      <thead>
        <tr>
          <th>Nama Mahasiswa</th>
          <th>Prodi</th>
          <th>Nomor Anggota</th>
          <th>Alamat</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ismiatul Karomah</td>
          <td>Teknik Informatika</td>
          <td>0001</td>
          <td>Desa saka kajang</td>
        </tr>
        <td>Andi Pratama</td>
        <td>Matematika</td>
        <td>0002</td>
        <td>Jl. Kuningan</td>
        <tr>
          <td>Apridita Yeni S</td>
          <td>Bahasa Inggris</td>
          <td>0003</td>
          <td>Padang</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
